

.itemCard{
    width: 100%;
    max-width: 350px;
    height: 410px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    transition: 0.3s ease;
}


.itemCard__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.itemCard__info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 700;
}

.itemCard__actions{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.itemCard__actions--addToCart {
    width: 100%;
    height: 40px;
    background-color: var(--button-bg);
    position: relative;
}
.itemCard__actions--addToCart::before{
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    background-color: var(--button-bg-h);
    z-index: 3;
    transition: width 0.2s ease-in-out;
}
.itemCard__actions--addToCart:hover::before  {
    width: 100%;
}

.itemCard__actions--addToCart > button {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: var(--button-text);
    z-index: 4;
}

.itemCard__actions__options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.itemCard__actions__options--edit{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.itemCard__actions__options--remove{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: var(--error);
    color: #fff;
    gap: 1.5rem;
    align-items: center;
}

.itemCard__actions__options--edit > .bx{
    font-size: 1.6rem;
}