.main {
    color: var(--text-primary);
    width: 100%;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5rem;
    height: 100vh;
    overflow-y: scroll;
}


/* store */


.store__title {
    margin-bottom: 1rem;
}

.store__list {
    /* media */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: center;
}

@media screen and (min-width:1200px) {
    .store__list {
            justify-content: flex-start;
        }
    
}