@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(255, 0, 0, 0.337); */
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
:root{
  font-family: 'Roboto', sans-serif;
    /* Light Mode */
    --bg-primary: #FFFFFF;
    --bg-secondary: #F2F2F2;
    --bg-side: #f2f2f2eb;
    --bg-accent: #f57c00;
    --text-primary: #333333;
    --text-secondary: #757575;
    --button-bg: #0288d1;
    --button-bg-h: #f57c00;
    --button-text: #FFFFFF;
    --error: #d32f2f;
}

.App.dark{
    /* Dark Mode */
    --bg-primary: #121212;
    --bg-secondary: #1E1E1E;
    --bg-side: #1e1e1eeb;
    --bg-accent: #0288d1;
    --text-primary: #FFFFFF;
    --text-secondary: #BDBDBD;
    --button-bg: #f57c00;
    --button-bg-h: #0288d1;
    --button-text: #FFFFFF;
    --error: #d32f2f;
}

